*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
.header{
    background-color: whitesmoke;
    position: fixed;
    top: 0;
    width: 100%;
}
li{
    list-style: none;
}
a{
    color: rgb(61, 38, 3);
    text-decoration: none;
}
.navbar{
    min-height: 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding:  0 24px;
}
.nav-menu{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 60px;
}
.logo{
    font-size: 2rem;
}
.nav-link{
    transition: 0.7s ease;
}
.nav-link:hover{
    color: black;
}
.hamburger{
    display: none;
    cursor: pointer;
}
.bar{
    display: block;
    width: 25px;
    height: 3px;
    margin: 5px auto;
    background-color: rgb(61, 38, 3);
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out
}
span{
    color: rgb(61, 38, 3);
}
.hpd{
    background-color: rgb(61, 38, 3);
    color:white ;
    text-align: center;
    height: 50px;
    padding-top: 10px;
    margin-top: 50px;
}
.content{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 90%;
    margin: auto;
    margin-top: 10px;
    margin-bottom: 20px;
}
.item , .item2{
    width: 50%;
}
.item h2{
    font-size: 52px;
    line-height: 50px;
    padding-top: 150px;
}
.item2 img{
    width: 80%;
    margin: auto;
    border-radius: 10px;
}
.history{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 90%;
    margin: auto;
    margin-top: 10px;
    margin-bottom: 20px;

}
.title{
    text-align: center;
    font-size: 30px;
    color: rgb(61, 38, 3);
    padding-top: 10px;
    margin-bottom: 10px;
}
.history div{
    width: 50%;
}
.history div p{
    text-align: justify;
    padding-left: 10px;
    padding-right: 10px;
}
footer{
    background-color: rgb(61, 38, 3);
    height: 150px;
    width: 100%;
}
footer p{
    
    text-align: center;
    color:#fff;
    padding-top: 30px;
    
}
@media screen and (max-width:765px){
.hamburger{
    display: block;
}
.hamburger.active .bar:nth-child(2){
    opacity: 0;
}
.hamburger.active .bar:nth-child(1){
    transform: translateY(8px) rotate(45deg);
}
.hamburger.active .bar:nth-child(3){
    transform: translateY(-8px) rotate(-45deg);
}
.nav-menu{
    position: fixed;
    left: -100%;
    top: 50px;
    gap: 0;
    flex-direction: column;
    width: 100%;
    align-items: center;
    transition: 0.7s ;
    background-color: whitesmoke;
}
.nav-item{
    margin: 16px 0;
}
.nav-menu.active{
    left: 0;

}
 


     .hpd{
        font-size: 20px;
    }
    .content{
        flex-direction: column;
        width: 80%;
        margin: auto;
        align-items: center;

    }
    .item, .item2{
        width: 100%;
    }
    .item h2{
        padding-top: 10px;
        padding-bottom: 20px;
        font-size: 35px;
        line-height: 35px;
        text-align: center;
    }
    
    .item2 img{
        width: 100%;
        margin: auto;
        border-radius: 10px;
    }
    .history{
        flex-direction: column;
        width: 100%;
    }
    .history div{
        width: 100%;
        margin-top: 10px;
    } 
    
   
}